header {
    position: sticky;
    top: 0;
}
.theme-menu-container {
  display: flex;
  cursor: pointer;
  gap: 5px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 30px;
}

.logo-container {
  margin: 16px 0;
  font-size: 24px;
  font-weight: 400;
}

.nav-container,
ul {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.menu-icon,
.mobile-nav-open,
.mobile-nav-close {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: block;
  }

  .mobile-nav-open-container {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out, visibility;
  }

  .mobile-nav-toggle {
    opacity: 1;
    visibility: visible;
  }

  .nav-container,
  .mobile-nav-close {
    display: none;
  }

 .mobile-nav-open {
    display: flex;
    text-align: center;
    flex-direction: column;
  }

  li {
    padding: 10px;
  }

  .menu-icon-toggled {
    opacity: 1;
    transform: rotate(90deg);
  }
}
