header {
  position: sticky;
  top: 0;

}

.header-scrolled-light {
  background-color:#e1cbcb;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* Example shadow */
  transition: all 0.3s ease-in-out; /* Smooth transition for the style changes */

}

.header-scrolled-dark {
  background-color:   #1f1f1f;;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* Example shadow */
  transition: all 0.3s ease-in-out; /* Smooth transition for the style changes */

}


.theme-menu-container {
  display: flex;
  cursor: pointer;
  gap: 5px;
}

.theme-icon:hover {
  cursor: pointer;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 30px;
}

.logo-container {
  margin: 16px 0;
  font-size: 24px;
  font-weight: 400;
}

.nav-container,
ul {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.menu-icon,
.mobile-nav-open,
.mobile-nav-close {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: block;
  }

  .mobile-nav-open-container {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in, visibility;
  }

  .mobile-nav-toggle-open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in, visibility;
  }

  .nav-container,
  .mobile-nav-close {
    display: none;
  }

 .mobile-nav-open {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-bottom: 20px;
  }

  li {
    padding: 5px;
  }

  .menu-icon-toggled {
    opacity: 1;
    transform: rotate(90deg);
  }
}
