:root {
  --dark-background-color: rgb(5, 7, 20);
  --dark-text-color: #FAFAFA;
}

.theme-light {
  background-color: var(--light-background-color);
  color: var(--light-text-color)
}

.theme-dark {
  background-color: var(--dark-background-color);
  color: var(--dark-text-color)
}